QScrollBar:horizontal {
	border: none;
	margin: 15px 0 15px 0;
	height: 15px;
}
QScrollBar::handle:horizontal {
	height: 15px;
	border-radius: 7px;
	border: none;
	background-color: rgb(172, 172, 172);
}
QScrollBar::handle:horizontal:hover {
	background-color: rgb(144, 144, 144);
}
QScrollBar::handle:horizontal:pressed {
	background-color: rgb(98, 98, 98);
}
QScrollBar::sub-page:horizontal, QScrollBar::add-page:horizontal {
	background-color: none;
}
QScrollBar::sub-line:horizontal {
	width: 15px;
	background-color: rgb(172, 172, 172);
	border: none;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	subcontrol-position: left;
	subcontrol-origin: margin;
}
QScrollBar::sub-line:horizontal:hover {
	background-color: rgb(144, 144, 144);
}
QScrollBar::sub-line:horizontal:pressed {
	background-color: rgb(98, 98, 98);
}
QScrollBar::add-line:horizontal {
	width: 15px;
	background-color: rgb(172, 172, 172);
	border: none;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	subcontrol-position: right;
	subcontrol-origin: margin;	
}
QScrollBar:add-line:horizontal:hover {
	background-color: rgb(144, 144, 144);
}
QScrollBar:add-line:horizontal:pressed {
	background-color: rgb(98, 98, 98);
}