QScrollBar:horizontal {
	height: 10px;
	background: rgba(0, 0, 0, 0);
	border: none;
	margin: 0 0 0 0;
}
QScrollBar::sub-line:horizontal, QScrollBar::add-line:horizontal, QScrollBar::sub-page:horizontal, QScrollBar::add-page:vetical {
	background: none;
	border: none
}
QScrollBar::handle:horizontal {
	background-color: rgb(110, 133, 211);
	border: none;
}
QScrollBar::handle:horizontal:hover {
	background-color: rgb(125, 151, 239);
}
QScrollBar::handle:horizontal:pressed {
	background-color: rgb(88, 106, 234);
	background-color: rgb(81, 110, 203);
}